body {
  background-color:darkgray;
  font-family: sans-serif;
}

h1 {
  color: hsl(156, 0%, 100%);
  text-transform: uppercase;
}

p {
  font-size: 2rem;
}

p.intro {
  color: hsl(0, 67%, 56%);
}

summary {
  font-size: 4rem;
}

span.par {
  background-color: white;
}

span.impar {
  background-color: hsl(66, 67%, 56%);
}